div#contact{
    padding: 5rem .8rem;
    .contact-header{
        > h2{
            text-align: center;
            font-size: 1.2rem;
            color: $write-color-secondary;
        }
        > h3{
            text-align: center;
            font-size: 3rem;
            padding: 1rem 0 3rem;
        }
    }
    .contact-container{
        display: flex;
        justify-content: space-around;
        .contact-information{
            width: 30%;
            padding: 1rem 1.5rem;
            background-image: $background-color;
            box-shadow: $shadow-1;
            border-radius: $border-radius;
            img{
                width: 100%;
                height: auto;
                border-radius: $border-radius;
            }
            h2{
                font-size: 2.5rem;
                padding: 1rem 0;
            }
            p{
                color: $write-color-dark-white;
                padding: 1rem 0;
                font-size: 1.2rem;
                span{
                    color: $write-color-primary;
                }
            }
            .footer-social{
                margin: 1rem 0;
                a{
                    i{
                        color: $write-color-primary;
                        background-image: linear-gradient(145deg, #1e2024, #23272b);
                        font-size: 1.1rem;
                        padding: 1rem;
                        margin-right: .5rem;
                        box-shadow: $shadow-1;
                        border-radius: $border-radius;
                        @include transition(transform, .5);
                        &:hover{
                            @include transform(translateY(-10px));
                            box-shadow: $shadow-2;
                        }
                    }
                }
            }
        }
        .contact-inputs{
            width: 65%;
            padding: 1rem 1rem;
            background-image: $background-color;
            box-shadow: $shadow-1;
            border-radius: $border-radius;
            .col{
                width: 49%;
                display: inline-block;
            }
            p{
                color: $write-color-dark-white;
                padding: 1rem 0;
            }
            input,textarea{
                color: $write-color-primary;
                background-color: $background-color-normal;
                height: 55px;
                width: 100%;
                border: 2px solid #191b1e;
                outline: none;
                box-shadow: $inner-shadow;
                border-radius: $border-radius;
                font-size: 1rem;
                padding: 5px 5px;
                transition: border .5s, color .5s;
                &:focus{
                    color: $write-color-2;
                    border: 2px solid $write-color-secondary;
                }
            }
            textarea{
                padding: 10px 5px;
                height: initial;
            }
            input[value="SEND MESSAGE"]{
                cursor: pointer;
                color: $write-color-secondary;
                margin: 1rem 0;
                border: none;
                outline: none;
                box-shadow: $shadow-1;
                background-image: $background-color;
                @include transition(transform, .5);
                &:hover{
                    @include transform(translateY(-10px));
                }
            }
        }
    }
}